.header-mobile__search {
  cursor: pointer;
}
.hamburger-icon {
  cursor: pointer;
  margin: auto;
  position: relative;
  width: 28px;
  height: 23px;
  background: none;
  border: none;
  transition: all 0.25s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
